@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration:none;
    color: #BCE6E2;
    font-weight:500;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    background: #023535;
}

.wrapper{
    background: none;
    width: 450px;
    border-radius: 20px;
    border: 2px solid #0FC2C0;
    box-shadow: 0px 0px 10px 0px #0FC2C0;

}


.form{
    padding:25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 700;
    padding-bottom:16px;
    text-align:center;
    border-bottom:1px solid #0FC2C0;
}

.form form {
    margin:24px 0;
}

.form form .error-txt{
    color: #BCE6E2;
    background: #015958;
    padding:8px 10px;
    border-radius:5px;
    margin-bottom:16px;
    text-align:center;
}

form .name-details .field:first-child{
    margin-right: 10px;
}

.form form .field{
    display:flex;
    flex-direction: column;
    margin-bottom:8px;
}

.form form .field input{
    outline: none;
}

.form form .input input{
    height:40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #0FC2C0;
    border-radius: 5px;
    background:none;
}

.form form .input input::placeholder{
    color: #99DBD8;
    font-size: 14px;
}

.form form .image input{
    font-size:17px;
}

.form form .button input{
    margin-top:13px;
    height:35px;
    border:1px solid #0FC2C0;
    background: none;
    border-radius:5px;
    font-weight:500;
    font-size:17px;
    color: #BCE6E2;
    cursor: pointer;
    transition: 0.5s;
}

.form form .button input:hover{    
    background: #12E2DD;
    color:#064746;
}

.form .link{
    text-align:center;
    margin: 10px 0;
    font-size:17px
}

.form .link a{
    color: #0FC2C0;
}

.form .link a:hover{
    color: #12E2DD;
}

.users{
    padding: 25px 30px;
}

.users header, .users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #0FC2C0;
}

.users header .content img{
    height: 50px;
    width:50px;
}

.users header .content p,
.users-list a .content p{
    font-size:13px;
    color: #558787;
}

.wrapper img{
    object-fit:cover;
    border-radius:50%;
}

:is(.users,.users-list) .content{
    display: flex;
    align-items: center;
}

:is(.users,.users-list) .details{
    margin-left:15px;
}

:is(.users,.users-list) .details span{
    font-size: 18px;
    font-weight:500;
}

.users header .logout{
    background:#012424;
    padding:7px 15px;
    border-radius: 10px;
    font-size:17px;
    transition:0.3s;
    font-weight:500;
}   

.users header .logout:hover{
    background:#BCE6E2;
    color:#012424; 
}

.users .search {
    margin: 20px 0;
    display:flex;
    position: relative;
    align-items: center;
    justify-content:space-between;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: none;
    padding: 0 13px;
    background:#012424;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.users .search button{
    width:47px;
    height:42px;
    border: none;
    outline: none;
    color: #BCE6E2;
    cursor: pointer;
    font-size:15px;
    background:#012424;
    border-radius: 0 5px 0 5px;
}

.users-list{
    max-height:350px;
    overflow-y:auto;
}

.users-list::-webkit-scrollbar{
    width: 0px;
}

.users-list a {
    padding-right:15px;
    padding-bottom:15px;
    page=break-after: 10px;
}

.users-list a:last child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}


.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

.users-list a -status-dot.offline{
    color:#ccc;
}

.chat-area header{
    display:flex;
    align-items:center;
    padding: 18px 30px;
}

.chat-area header img{
    height:45px;
    width:45px;
    margin: 0 15px;
}

.chat-area header .back-icon{
    font-size: 20px;
    margin: 0 15px;
}


.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-area header p{
    font-size:13px;
    color: #558787;
}

.chat-box{
    height:500px;
    background: #010f0f;
    padding: 10px 30px 20px 30px;
}

.chat-box .chat{
    margin-bottom: 15px;
}

.chat-box .chat p{
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%)
}

.chat-box .outgoing{
    display: flex;
}

.outgoing ,details{
    margin-left:auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p{
    background: #012424;
    border-radius:18px 18px 0 18px;
}

.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img{
    height: 35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right:auto;
    max-width: calc(100% - 130px);
}

.incoming .details p{
    background: #0FC2C0;
    color: #333;
    border-radius: 18px 18px 18px 0;
}